<div class="border-bottom-custom">
  <div class="container">
    <div class="row">
      <div class="col-12  px-lg-5">
        <div class="px-2 px-lg-5">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-8">
                  <img
                    src="assets/img/logo_segnalazioni.png"
                    alt="Città Metropolitana di Genova"
                    class="logo"
                  />
              </div>
              <div class="col-md-2 col-4 d-flex justify-content-center align-items-center">
                <ngx-flag-picker
                  [selectedCountryCode]="selectedCountryCode"
                  [countryCodes]="countryCodes"
                  [showLabels]="showLabels"
                  [showArrow]="showLabels"
                  [customLabels]="customLabels"
                  (changedCountryCode)="changeSelectedCountryCode($event)">
                </ngx-flag-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<main id="main-content">
  <div class="container">
    <div class="row">
      <div class="col-12 px-lg-5">
        <div class="px-2 px-lg-5 py-5 py-lg-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="wrapper-9">
                  <p>
                    {{ 'title' | translate}}
                  </p>
                  <p>{{'title2' | translate}}</p>
                  <p>{{'title3' | translate}}</p>
                  <p><b>{{'title4' | translate}}</b></p>
                  <div class="row">
                    <div class="col-12">
                      <ng-select [(ngModel)]="selectedCity"  placeholder="{{ 'placeholder' | translate }}" class="custom-select"
                                 (change)="handleChange($event)" (clear)="handleClear($event)">
                        <ng-option *ngFor="let d of polygon"
                                   [value]="d.properties">{{d.properties.name}}</ng-option>
                      </ng-select>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="p-2 col-12">
                <div class="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options" *ngIf="!selectedCity"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngIf="selectedRegion && !selectedCity">
                <!--start card-->
                <div class="card-wrapper">
                  <div class="card">
                    <div class="card-body">
                   <h4 class="text-monospace text-black-cm">{{'municipality' | translate}} {{dataRegion.name}}</h4>
                      <div class="it-list-wrapper" *ngIf="!dataRegion.disable">
                        <ul class="it-list" *ngFor="let item of dataRegion.items">
                          <li>
                            <a target="_blank" href="{{item.link}}">
                              <div class="it-thumb"><img [src]="item.logo" alt="logo" title="logo"></div>
                              <div class="it-right-zone"><span class="text">{{'title5' | translate}}  {{item.title}}</span>
                                <svg class="icon">
                                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                                </svg>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
         <!--             <div class="it-list-wrapper" *ngIf="dataRegion.disable">
                        <ul class="it-list">
                          <li><p class="text-black-cm">{{'not_service' | translate}}</p></li>
                        </ul>
                      </div>-->
                    </div>
                  </div>
                </div>
                <!--end card-->
              </div>
            </div>

            <div class="row" *ngIf="selectedItem">
              <div class="col-12 col-lg-12">
                <!--start card-->
                <div class="card-wrapper">
                  <div class="card">
                    <div class="card-body">
                     <h4 class="text-monospace text-black-cm">{{'municipality' | translate}} {{selectedItem.name}}</h4>
                      <div class="it-list-wrapper" *ngIf="!selectedItem.disable">
                        <ul class="it-list" *ngFor="let item of selectedItem.items">
                          <li>
                            <a target="_blank" href="{{item.link}}">
                              <div class="it-thumb"><img [src]="item.logo" alt="logo" title="logo"></div>
                              <div class="it-right-zone"><span class="text">{{'title5' | translate}}  {{item.title}}</span>
                                <svg class="icon">
                                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                                </svg>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
          <!--            <div class="it-list-wrapper" *ngIf="selectedItem.disable">
                        <ul class="it-list">
                          <li><p class="text-black-cm">{{'not_service' | translate}}</p></li>
                        </ul>
                      </div>-->
                    </div>
                  </div>
                </div>
                <!--end card-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="it-footer w-100">
  <div class="it-footer-main bg-secondary">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col">
            <div class="loghi_progetto">
              <div class="lista_loghi_progetto d-flex justify-content-center">
                <span>
                  <a target="blank"
                     href="https://smart.comune.genova.it/"
                     title="Comune Genova" class="">
                    <img
                      class="loghi_footer"
                      src="assets/img/comunegenova.png" alt="Comune Genova"></a></span>
                <span>
                  <a target="blank"
                     href="https://www.cittametropolitana.genova.it/"
                     title="Città Metropolitana di Genova"
                     class="">
                    <img
                      class="loghi_footer"
                      src="assets/img/cittametropolitana_genova.png" alt="Città Metropolitana di Genova"></a></span>
                <span>
                  <a target="blank"
                     href="https://europa.eu/european-union/index_it"
                     title="Sito Unione Europea">
                    <img
                      class="loghi_footer"
                      src="assets/img/pon_metro.png" alt="Logo Unione Europea"></a></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container text-secondary x-small mt-1 mb-1 text-right"></div>
</footer>
